!!! 5
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7 ] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7 ] <html class="no-js lt-ie9 lt-ie8" lang="en">
/[if IE 8 ] <html class="no-js lt-ie9" lang="en">
/[if (gt IE 8)|!(IE)]><! --> <html class="no-js" lang="en"> <!--
%head
  %meta{:charset => "utf-8"}
  %meta{:name => "viewport", :content => "width=device-width" }

  {%if page.title %}
  %title {{ page.title }} - {{ site.title }}
  {% else %}
  %title {{ site.title }}
  {% endif %}

  %link{:rel => "stylesheet", :href => "{{ site.url }}/asset/css/app.css" }
  %link{:rel => "alternate",  :href => "{{ site.url }}/atom.xml", :type => "application/atom+xml",  :title => "Sitewide ATOM Feed"}
  %script{:src => "{{ site.url }}/asset/js/modernizr.foundation.js"}
  %script{:src => "{{ site.url }}/asset/js/app.js"}

%body
  .row
    .two.columns
      %h1.text-center
        %a{:href => '/', :title => 'Chicken Boot'}
          %img{:src => '/asset/image/logo.png'}
      %h5.text-center
        %a{:href => '#', :title => 'Contact'} @chickenboot
      %p.text-center
        Technical stuff viewed through leathery eyelets
      %ul.no-bullet
        %li
          %a{:href => '#'} About
    .ten.columns
      {% if page.title %}
      %h2 {{ page.title }}
      {% endif %}


      {% if page.header %}
      %img{:alt => "Header", :src => "{{ site.url }}/asset/image/header/{{ page.header }}"}
      {% endif %}

      {{ content }}
      %hr
        .row
          .four.columns
            %p @chickenboot is the psuedonym of Colin Bradley. 
          .eight.columns
            %a{:href => 'http://chickenboot.github.io/'} chickenboot.github.io
            %br
            %a{:href => 'http://twitter.com/chickenboot'} twitter.com/chickenboot

:plain
  </html>